################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/DesignPatternExamples
/obj
/.vs/ProjectEvaluation
/bin/Debug/net7.0
